/* Geral */

* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
header nav {
  background-color: #333;
}

#navbar {
  display: flex;
  justify-content: space-around;
}
